@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 55 78% 91%;
    --foreground: 240 10% 3.9%;
    --card: 55 78% 91%;
    --card-foreground: 240 10% 3.9%;
    --popover: 55 78% 91%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 55 100% 50%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 55 20% 80%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 55 20% 85%;
    --muted-foreground: 240 5% 45.1%;
    --accent: 182 100% 74%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 55 20% 80%;
    --input: 55 20% 88%;
    --ring: 182 100% 74%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 0 0% 98%;
    --card: 222 47% 11%;
    --card-foreground: 0 0% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 55 100% 50%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 0 0% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 182 100% 74%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 182 100% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
